<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../Assets/CSS/Main.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <title>Title</title>
    <div class="container">
      <a href="../index.html">
        <img
          style="padding: 10px"
          class="Scalable"
          src="../Assets/Images/Main/BioRain.png"
          alt="T"
        />
      </a>
      <h2 style="padding-left: 20px">BioRain Games</h2>
    </div>

    <h1>Name</h1>
    <p>Description</p>
    <center>
      <!--Game widget-->
    </center>
  </body>
</html>
